<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>autojs代码编辑界面</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3 class="text-center">
          这里放当前项目的名字
        </h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-2 column">
        <div class="list-group">
          <div class="list-group-item active">项目列表</div>
          <a href="#" class="list-group-item">
            文件夹1
          </a>
          <a href="#" class="list-group-item">
            文件夹2
          </a>
          <a href="#" class="list-group-item">
            文件夹3
          </a>
          <a href="#" class="list-group-item">
            文件夹4
          </a>
          <a href="#" class="list-group-item">
            文件夹5
          </a>
        </div>
      </div>
      <div class="col-md-6 column">
        <h3>
          这里放选中的脚本的名字
        </h3>
        <p>
          这里放选中的脚本的具体代码
        </p>
      </div>
      <div class="col-md-4 column">
        <div class="btn-group btn-group-vertical btn-group-lg">
          <button class="btn btn-default" type="button">
            编辑</button>
          <button class="btn btn-default" type="button">
            保存</button>
          <button class="btn btn-default" type="button">
            运行当前项目的入口文件index.js</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
