<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>666666</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
  <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../dist/themes/default/style.min.css" />
  <script src="../dist/jstree.min.js"></script>
  <script>
    var jstreeID='jstree';
    // $('#jstree_demo_div').on("changed.jstree", function (e, data) {
    //   console.log(data.selected);
    // });
    // $('button').on('click', function () {
    //   $('#jstree').jstree(true).select_node('child_node_1');
    //   $('#jstree').jstree('select_node', 'child_node_1');
    //   $.jstree.reference('#jstree').select_node('child_node_1');
    // });
  </script>
  <script>
    function myFunction() {
      x = document.getElementById("文件夹1"); // 找到元素
      x.style.color = "red"; // 改变内容
      x.style.fontSize = "larger";
    }
  </script>
  <script>
    $(function () {
      // var dirInfo={{dirInfo}}
    });
  </script>
  <script>
    $(document).ready(function () {
      $.post("/getDirInfo", {
          name: "test"
        },
        function (data, status) {
          console.log("数据：" + data + "\n状态：" + status);
          $('#'+jstreeID)
          .jstree({
            'core': {
              'data': data
            }
          })
          .on('select_node.jstree', function (node, selected) {
            var ref = $('#'+jstreeID).jstree(true);
            var sel = ref.get_selected();
            var sltText = ref.get_text(sel);
            console.log(ref)
            console.log(sel)
            console.log(sltText)

          })


        });
    });
  </script>
  <script>

    $('#'+jstreeID).bind("activate_node.jstree", function (obj, e) {
      console.log("obj=")
            console.log(obj)
            alert(obj)
            console.log("e")
            console.log(e)
            alert(e)
    });



  </script>
  <script>
    function getSelectNodeId() {
      var treeNode = $('#'+jstreeID).jstree(true).get_selected(true)[0]; //获取所有选中的节点对象
      var nodeId = treeNode.original.id;
      return nodeId;
    }
    function selectTreeNode(id) {
        $('#'+jstreeID).jstree("deselect_all", true);
        // id是选中的节点id，然后后面的一个参数 true表示的是不触发默认select_node.change的事件 
        $('#'+jstreeID).jstree('select_node', id/* , true */);
    }
  </script>
</head>
<!-- 传递给网页一个数组,数组中是文件夹和文件,用json格式存放 -->

<body>
  <h1>欢迎光临{{user}}</h1>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3 id="project-name" class="text-center">
          这里放当前项目的名字
        </h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-2 column">
        <div class="list-group">
          <div class="list-group-item active">项目列表</div>
          <div id="jstree">
          </div>

        </div>
      </div>
      <div class="col-md-9 column">
        <h3 id="script-name">
          这里放选中的脚本的名字
        </h3>
        <p id="script-detail">
          这里放选中的脚本的具体代码
        </p>
      </div>
      <div class="col-md-1 column">
        <div class="btn-group btn-group-vertical btn-group-lg">
          <button type="button" class="btn btn-default btn-danger">编辑</button>
          <button type="button" class="btn btn-default btn-info">保存</button>
          <button type="button" class="btn btn-default btn-success">运行当前项目的入口文件index.js</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
