<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>666666</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
  <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../dist/themes/default/style.min.css" />
  <script src="../dist/jstree.min.js"></script>
  <script src="../static/js/user.js"></script>
  <style>
    textarea.sansserif {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;
    }

    textarea.ex {
      color: rgb(0, 0, 255);
    }

    textarea.wh {
      width: 100%;
      height: 888px;
      outline: none !important;
      border-color: #719ECE;
      box-shadow: 0 0 10px #719ECE;
      border: solid 1px #f00;
      border-radius: 20px;
      padding-top: 6px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-left: 12px;
    }

    #button_edit {
      width: 200px;
      height: 88px;
    }

    #button_save {
      width: 200px;
      height: 88px;
    }

    #button_index {
      width: 200px;
      height: 88px;
    }
    #button_index_designate {
      width: 200px;
      height: 88px;
    }

    #project_list {
      position: relative;
      left: 20px;
      top: 10px;
    }

    /* #codeDetail {

      background-color: green;

    }
    #button3 {

      background-color: blue;

    } */
  </style>
</head>
<!-- 传递给网页一个数组,数组中是文件夹和文件,用json格式存放 -->
<!-- <body onload="init();"> -->

<body>
  <h1>欢迎光临{{user}}</h1>
  <!-- <div class="container"> -->
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3 id="project-name" class="text-center">
          这里放当前文件的路径
        </h3>
      </div>
    </div>
    <div class="row clearfix">
      <!-- <div style="position:relative;left:200px;top:100px;width:400px;height:50px"> -->
      <div class="col-md-2 column" id='project_list'>
        <div class="list-group">
          <div class="list-group-item active">项目列表</div>
          <div id="jstree">
          </div>
        </div>
      </div>
      <div class="col-md-8 column" id="codeDetail">
        <h3 id="script-name">
          这里放选中的文件的名字
        </h3>
        <div>
          <textarea class="sansserif ex wh" id="script-detail" readonly="readonly">
            这里放具体的代码 123 123 444 555 666
          </textarea>
        </div>
      </div>
      <div class="col-md-2 column" id="button3">
        <div class="btn-group btn-group-vertical btn-group-lg ">
          <button type="button" class="btn btn-default btn-danger" id="button_edit">编辑</button>
          <button type="button" class="btn btn-default btn-info" id="button_save">保存</button>
          <button type="button" class="btn btn-default btn-success" id="button_index">运行当前项目的
            <br/>入口文件index.js</button>
          <button type="button" class="btn btn-default btn-info" id="button_index_designate">运行项目
            <br/>指定手机</button>
        </div>
        <p id=connectionState></p>
        <div>
          <textarea class="sansserif ex wh" id="identification_code">
          这里放唯一标识码,用分号隔开
          </textarea>
        </div>
        <!-- 唯一标识码 -->
        <!-- <div class="col-md-* col-sm-* col-xs-*" style="text-align:right;">
          <input type="text" value="" style="box-shadow:inset 0 0 4px #eee; margin:0; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;"
            id="demo_q" placeholder="Search" />
        </div> -->
      </div>
    </div>
  </div>
  <script>
    //按钮点击脚本
    $("#button_edit").click(function (event) {
      var cObj = document.getElementById("script-detail");
      cObj.removeAttribute("readonly");
    })
    $("#button_save").click(function (event) {
      // alert($("#script-detail").val());//弹出textarea的值
      var filePath = $("#project-name").text()
      console.log(filePath)
      filePath = filePath.replace("选中的文件的路径=", "")
      var codeDetail = $("#script-detail").val()
      console.log('前端向后端传送的路径和代码分别是')
      console.log(filePath)
      console.log(codeDetail)
      // $.post("/saveCode", {
      //   "filePath": filePath,
      //   "codeDetail": codeDetail
      // })
      $.ajax({
        url: 'saveCode',
        type: 'post',
        dataType: 'json',
        data: {
          "filePath": filePath,
          "codeDetail": codeDetail
        },
        success: function (data) {}
      });
    })




    $("#button_index").click(function (event) {
      // alert('index.js666')
      // $("#connectionState").text('正在连接手机,请稍后');
      var filePath = $("#project-name").text()
      console.log(filePath)
      filePath = filePath.replace("选中的文件的路径=", "")
      var arr = filePath.split("/");
      var projectName=arr[1]
      $.get("runIndex"+"/"+projectName);

			var btn = document.getElementById('button_index');//首先需要获取的是哪一个按钮的id
			btn.disabled = 'disabled';//只要点击就将按钮的可点击的状态更改为不可以点击的状态
			setTimeout(function(){//设置时间，多久可以改变状态为可以点击
				btn.disabled = '';
			},8000);//6秒内不可以重复点击，一秒等于1000毫秒

    })
    $("#button_index_designate").click(function (event) {
      // alert('指定手机')
      // $("#connectionState").text('正在连接手机,请稍后');
      var filePath = $("#project-name").text()
      console.log(filePath)
      filePath = filePath.replace("选中的文件的路径=", "")
      var arr = filePath.split("/");
      var projectName=arr[1]
      var 手机唯一标识码=$("#identification_code").val()
      // alert(手机唯一标识码)
      // $.get("runIndexDesignateMobile"+"/"+projectName+"手机唯一标识码"+手机唯一标识码);
      console.log("$.ajax({之前手机唯一标识码=")
      console.log(手机唯一标识码);

      // $.ajax({
      //   url: "runIndexDesignateMobile"+"/"+projectName,
      //   type: 'post',
      //   dataType: 'text',
      //   data: 手机唯一标识码,
      //   success: function (data) {}
      // });


      $.post("runIndexDesignateMobile"+"/"+projectName,{'code':手机唯一标识码});




			var btn = document.getElementById('button_index_designate');//首先需要获取的是哪一个按钮的id
			btn.disabled = 'disabled';//只要点击就将按钮的可点击的状态更改为不可以点击的状态
			setTimeout(function(){//设置时间，多久可以改变状态为可以点击
				btn.disabled = '';
			},8000);//6秒内不可以重复点击，一秒等于1000毫秒

    })






  </script>
  <script type="text/javascript">
    var observe;
    if (window.attachEvent) {
      observe = function (element, event, handler) {
        element.attachEvent('on' + event, handler);
      };
    } else {
      observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
      };
    }

    function init() {
      var text = document.getElementById('script-detail');

      function resize() {
        text.style.height = '600px';
        text.style.height = text.scrollHeight + 'px';
      }
      /* 0-timeout to get the already changed text */
      function delayedResize() {
        window.setTimeout(resize, 0);
      }
      observe(text, 'change', resize);
      observe(text, 'cut', delayedResize);
      observe(text, 'paste', delayedResize);
      observe(text, 'drop', delayedResize);
      observe(text, 'keydown', delayedResize);
      text.focus();
      text.select();
      resize();
    }
  </script>
  <script>
    // $(function(){
    //     alert($("#script-detail").val());//弹出textarea的值
    // });
  </script>


  <!-- <script type="text/javascript">
    $("#button_index").click(function (event) {
      $.get("sendCommandToMobile");
    })
  </script> -->
  <!-- <script type="text/javascript">
    $("#button_index").click(function (event) {



      // 很重要 必须写，判断浏览器是否支持websocket
      var CreateWebSocket = (function () {
        return function (urlValue) {
          if (window.WebSocket) return new WebSocket(urlValue);
          if (window.MozWebSocket) return new MozWebSocket(urlValue);
          return false;
        }
      })()
      // 实例化websoscket websocket有两种协议ws(不加密)和wss(加密)
      var wsport = '3000'
      var webSocket = null
      $.get("getPort", function (result) {
        console.log('从后端获取的端口信息结果=')
        console.log(result)
        wsport=result.httpPort
        console.log('选择的ws端口=')
        console.log(wsport)

        webSocket = CreateWebSocket("ws://127.0.0.1:" + wsport + "/ws");
        webSocket.onopen = function (evt) {
          // 一旦连接成功，就发送第一条数据
          webSocket.send("前端网页发送的第一条数据")
        }
        webSocket.onmessage = function (evt) {
          // 这是服务端返回的数据
          console.log("服务端说" + evt.data)
          $("#connectionState").text(evt.data);

        }
        // 关闭连接
        webSocket.onclose = function (evt) {
          console.log("Connection closed.")
        }

      });










    })
  </script> -->



</body>

</html>
