<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>666666</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/css/bootstrap.min.css" />
  <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../dist/themes/default/style.min.css" />
  <script src="../dist/jstree.min.js"></script>
  <script src="../static/js/user.js"></script>
  <style>
    textarea.sansserif {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;
    }

    textarea.ex {
      color: rgb(0, 0, 255);
    }

    textarea.wh {
      width: 100%;
      height: 888px;
      outline: none !important;
      border-color: #719ECE;
      box-shadow: 0 0 10px #719ECE;
      border: solid 1px #f00;
      border-radius: 20px;
      padding-top: 6px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-left: 12px;
    }
  </style>
</head>
<!-- 传递给网页一个数组,数组中是文件夹和文件,用json格式存放 -->
<!-- <body onload="init();"> -->

<body>
  <h1>欢迎光临{{user}}</h1>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3 id="project-name" class="text-center">
          这里放当前文件的路径
        </h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-2 column">
        <div class="list-group">
          <div class="list-group-item active">项目列表</div>
          <div id="jstree">
          </div>
        </div>
      </div>
      <div class="col-md-9 column">
        <h3 id="script-name">
          这里放选中的文件的名字
        </h3>
        <div>
          <textarea class="sansserif ex wh" id="script-detail" readonly="readonly">
            这里放具体的代码 123 123 444 555 666
          </textarea>
        </div>
      </div>
      <div class="col-md-1 column">
        <div class="btn-group btn-group-vertical btn-group-lg">
          <button type="button" class="btn btn-default btn-danger" id="button_edit">编辑</button>
          <button type="button" class="btn btn-default btn-info" id="button_save">保存</button>
          <button type="button" class="btn btn-default btn-success" id="button_index">运行当前项目的入口文件index.js</button>
        </div>
        <!-- <div class="col-md-* col-sm-* col-xs-*" style="text-align:right;">
          <input type="text" value="" style="box-shadow:inset 0 0 4px #eee; margin:0; padding:6px 12px; border-radius:4px; border:1px solid silver; font-size:1.1em;"
            id="demo_q" placeholder="Search" />
        </div> -->
      </div>
    </div>
  </div>
  <script>
    //按钮点击脚本
    $("#button_edit").click(function (event) {
      var cObj = document.getElementById("script-detail");
      cObj.removeAttribute("readonly");
    })
    $("#button_save").click(function (event) {
      // alert($("#script-detail").val());//弹出textarea的值
      var filePath = $("#project-name").text()
      console.log(filePath)
      filePath = filePath.replace("选中的文件的路径=", "")
      var codeDetail = $("#script-detail").val()
      console.log('前端向后端传送的路径和代码分别是')
      console.log(filePath)
      console.log(codeDetail)
      // $.post("/saveCode", {
      //   "filePath": filePath,
      //   "codeDetail": codeDetail
      // })


      $.ajax({
        url: 'saveCode',
        type: 'post',
        dataType: 'json',
        data: {
        "filePath": filePath,
        "codeDetail": codeDetail
      },
        success: function (data) {
        }
      });















    })
    $("#button_index").click(function (event) {
      alert('index.js666')
    })
  </script>
  <script type="text/javascript">
    var observe;
    if (window.attachEvent) {
      observe = function (element, event, handler) {
        element.attachEvent('on' + event, handler);
      };
    } else {
      observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
      };
    }

    function init() {
      var text = document.getElementById('script-detail');

      function resize() {
        text.style.height = '600px';
        text.style.height = text.scrollHeight + 'px';
      }
      /* 0-timeout to get the already changed text */
      function delayedResize() {
        window.setTimeout(resize, 0);
      }
      observe(text, 'change', resize);
      observe(text, 'cut', delayedResize);
      observe(text, 'paste', delayedResize);
      observe(text, 'drop', delayedResize);
      observe(text, 'keydown', delayedResize);
      text.focus();
      text.select();
      resize();
    }
  </script>
  <script>
    // $(function(){
    //     alert($("#script-detail").val());//弹出textarea的值
    // });
  </script>
</body>

</html>
